body {
    background: #f3f2f1;
}

#titulo {
    color: black;
}

#trashIcon{
    width: 100px;
    font-size:2em;  
}

#pencilIcon{
    width: 100px;
    font-size:2em;  
}

#taskbody {
    margin-left: 280px;
    margin-top: 70px;
}

